
/*
/ COLOR
*/
$dark-blue:#062436;
$blue:#23a4de;
$green:#4aeeb6;
/**/

$image_dir:'../images/';
$planshet: 960px;
$phone: 640px;

/**/
/*
@mixin border-radius($px) {
  -webkit-border-radius: $px;
  -moz-border-radius: $px;
  border-radius: $px;
}

@mixin conteiner($background) {
  margin: 0 auto;
  position: relative;
  background: url($image_dir+$background) #fff no-repeat;
  //background-attachment: fixed;
  background-size: contain;
  box-shadow: 0 0 15px #999;
  -webkit-box-shadow: 0 0 15px #999;
  width: 90%;
  -moz-box-shadow: 0 0 15px #999;
  width: 90%;
}

@mixin logo($width, $height, $background) {
  width: $width;
  height: $height;
  background: url($image_dir+$background) no-repeat top center;
  margin: auto;
}

@mixin price($width, $height, $background) {
  width: $width;
  height: $height;
  background: url($image_dir+$background) no-repeat;
  margin: auto;
}

@mixin tsize($fsize, $color, $lh) {
  font-size: $fsize;
  color: $color;
  line-height: $lh;
}

@mixin footer($background) {
  height: 40px;
  background: url($image_dir+$background) repeat-x;
  overflow: hidden;
}

@mixin bradius($atr1) {
  border-radius: $atr1;
  -webkit-border-radius: $atr1;
  -moz-border-radius: $atr1;
}
*/
