@font-face {
    font-family: "PT sans";
    src: url('../fonts/') format('embedded-opentype'),
    url('../fonts/') format('woff2'),
    url('../fonts/') format('woff'),
    url('../fonts/PT_Sans-Web-Regular.ttf') format('truetype'),
    url('../fonts/') format('svg');

}
@font-face {
    font-family: "PT sans bold";
    src: url('../fonts/') format('embedded-opentype'),
    url('../fonts/') format('woff2'),
    url('../fonts/') format('woff'),
    url('../fonts/PT_Sans-Web-Bold.ttf') format('truetype'),
    url('../fonts/') format('svg');

}
@font-face {
    font-family: "orpheus";
    src: url('../fonts/Orpheus.otf') format('embedded-opentype'),
    url('../fonts/Orpheus.woff2') format('woff2'),
    url('../fonts/Orpheus.woff') format('woff'),
    url('../fonts/Orpheus.ttf') format('truetype'),
    url('../fonts/Orpheus.svg') format('svg');

}
p{
    line-height:25px;
    font-size: 18px;
}
h1, h2, h3, h4, h5, h6{
    font-family: "orpheus";
    color: $blue;
}
h2{
    font-size: 40px;
    line-height: 56px;
}