@font-face {
    font-family: "fira";
    src: url('../fonts/') format('embedded-opentype'),
    url('../fonts/') format('woff2'),
    url('../fonts/') format('woff'),
    url('../fonts/FiraSans-Regular.ttf') format('truetype'),
    url('../fonts/') format('svg');

}
@font-face {
    font-family: "orpheus";
    src: url('../fonts/Orpheus.otf') format('embedded-opentype'),
    url('../fonts/') format('woff2'),
    url('../fonts/') format('woff'),
    url('../fonts/') format('truetype'),
    url('../fonts/') format('svg');

}
