@import "_library";
@import "_reset";
@import "_text";
@import "_setka";
@import "_menu";
@import "_banner";

body {
    padding: 0;
    margin: 0;
    font-family: "PT Sans";
    box-sizing: border-box;
    border-collapse: collapse;
			background: $dark-blue;
}
.header {
	background: #fff;
	padding-bottom: 16px;
	position: relative;
	z-index: 1000;
}

.header__logo {
	display: block;
	margin-top: 65px;

	img {
		max-width: 287px;
	}
}

.hr__top, .hr__bottom {
	position: relative;
	height: 12px;
	background-color: none;
	background-image: url("../images/hr_top.png");
	background-repeat: repeat-x;
	z-index: 100;
	//background-size: contain;
	//background-position: 0 0;
}
.hr__bottom{
	background-image: url("../images/hr_bottom.png");
}

.base__box{
	background: #fff;
	padding: 30px 0;
}
.button{
	display: inline-block;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	background: $green;
	padding: 20px 50px;
	margin: auto;
	text-align: center;
	border-radius: 27px;
	font-size: 20px;
	font-family: "PT sans bold";
	margin-top: 50px;
}
.button_blue{
	background: $blue;
}
.button__scroll{
	display: block;
	width: 70px;
	height: 70px;
	background: url("../images/button_scroll.svg");
	margin:auto;
	margin-top: 35px;
}
.button__more{
	background: $blue;
	margin-top: 50px;
}
.portfolio__box{
	background: $dark-blue;
	padding: 30px 0;
	h2{
		color:#fff;
		margin-bottom: 50px;
	}
}
.portfolio__item{
height: 360px;
	background: #fff;
}
.portfolio__button-box{
}